/* підключення шрифтів */
@font-face {
    font-family: 'Metropolis';
    src: url(/front-end/_denys/Fonts/Metropolis-Medium.woff) format('woff');
    font-weight: 500;
}
  
@font-face {
    font-family: 'Metropolis';
    src: url(/front-end/_denys/Fonts/Metropolis-SemiBold.woff) format('woff');
    font-weight: 600;
}
  
@font-face {
    font-family: 'Metropolis';
    src: url(/front-end/_denys/Fonts/Metropolis-Bold.woff) format('woff');
    font-weight: 700;
}
/* кінець підключення шрифтів */
/* онулюючий код */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*, :after, :before {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:active, :focus {
    outline: 0;
}
a:active, a:focus {
    outline: 0;
}
body, html {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: 'Metropolis';
}


button, input, textarea {
    font-family: inherit;
}
input::-ms-clear {
    display: none;
}
button {
    cursor: pointer;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
a, a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
ul li {
    list-style: none;
}
li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}
img {
    max-width: 100%;
}
div {
    -webkit-tap-highlight-color: transparent;
}
body {
    min-height: 100%;
    color: #232233;
    font-family: 'Josefin Sans';
}
a {
    color: inherit;
}
/* кінець онулюючого коду */


/* хедер */
#head-plate{
    margin-block: 10px;
    margin-inline: 14.0625%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
}
.head-plate__navigation{
    display: flex;
    justify-content: space-around;
    width: 70%;
}
.reg__button{
    width: 100px;
    height: 35px;
    color: white;
    font-size: 16px;
    letter-spacing: 1px;
    border-radius: 5px;
    background-color: #ED017F;
    border: #ED017F solid 3px;
    transition: all 0.3s ease;
}
.reg__button:hover{
    color: #ED017F;
    background: transparent;
    transition: all 0.3s ease;
}
.navigation__text{
    font-family: 'Metropolis';
    font-style: none;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.first-section__conteiner__background{
    background-color: #FFEAF5;
    position: absolute;
    width: 51.65%;
    height: 100vh;
    z-index: -2;
    right: 0;
    overflow: hidden;
}
/* кінець хедеру */


/* головний блок */
.first-section{
    width: 100%;
    height: 100vh;
}
.first-section__line{
    margin-top: 40px;
    width: 8.4375%;
    height: 3px;
    background-color:#F467B2;
}
.first-section__conteiner{
    margin-inline: 14.0625%;
    font-family: 'Metropolis';
    font-style: normal;
    display: flex;
    align-items: center;
}
.first-section__title{
    font-weight: bold;
    font-size: 60px;
}
.first-section__title-blok{
    margin-right: 10%;
    padding-top: 10%;
    position: relative;
}
.first-section__text{
    margin-top: 40px;
    margin-left: 8.4375%;
    font-size: 22px;
}
.first-section__button{
    font-size: 16px;
    font-style: none;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #ffffff;
    width: 225px;
    height: 55px;
    border-radius: 5px;
    background-color: #ED017F;
    margin-top: 17.07317%;
    transition: all 0.3s ease 0s;
    box-shadow: 0 2.5px 0 #91004d;
}
.first-section__button:hover{
    transform: translateY(-5px);
    box-shadow: 0 7px 0 #91004d;
}
.first-section__button:active{
    transform: translateY(0px);
    box-shadow: 0 2.5px 0px #91004d;
}
.first-section__social-media{
    width: 40%;
    margin-top: 20%;
}
.first-section__icons__line{
    height: 25px;
    width: 1px;
    background-color: #909090;
    margin-inline: 20px;
}
.first-section__icons{
    display: flex;
    justify-content: space-between;
}
.first-section__image{
    display: flex;
    align-items: end;
}
.plant-img{
    margin-left: -42.5%;
    z-index: -1;
}
/* кінець головного блоку */


/* початок Creating Extraordinary Customer Experience */
.second_block{
    margin-inline: 7.29166%;
    /* margin-inline: 105px; */
}
.top_text{
    text-align: center;
    margin-inline: 15.10416%;
    /* margin-inline: 217.5px; */
    margin-top: 6.09756%;
    /* margin-top: 100px; */
    margin-bottom: 4.63414%;
    /* margin-bottom: 76px; */
    min-width: 405.5px;
}
.second_block_inform{
    margin-top: 2.43902%;
    /* margin-top: 20px; */
}
.second_main_topic{
    font-family: 'Metropolis';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    color: #343434;
}
.second_block_inform{
    font-family: 'Metropolis';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #999999;
    margin-inline: 11.97916%;
}
.mini_blocks{
    margin-top: 8.52272%;
    /* margin-top: 75px; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.info_blocks{
    height: 231px;
    width: 259px; 
    margin-inline: 1.35416%;
    /* margin-right: 39px; */
    padding-left: 49.5px;
    padding-right: 49.5px;
    padding-top: 24px;
    padding-bottom: 24px;
}
.img_mini_blocks{
    width: 37px;
    height: 37px;
}
.topic_{
    margin-top: 18px;
    margin-bottom: 10px;
    font-family: 'Metropolis', 'Arial', sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 22px;
    color: #363940;
}
.info_mini_blocks{
    font-family: 'Metropolis', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #999999;
}
/* кінець Creating Extraordinary Customer Experience */

/* початок BUSINESS PARTNERS */
.third_block{
    margin-bottom: 7.77777%;
}
.third_block, .busin_part{
    height: 450px;
}
.busin_part{
    margin-inline: 7.29166%; 
    position: relative;
    padding-top: 8.66666%;
    text-align: center;
    font-family: 'Metropolis', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 23px;
    line-height: 23px;
    letter-spacing: 2.1px;
    color: #343434;
}
.img_slider_wrapper{
    margin-bottom: 70px;
}
.image-slider .swiper-pagination{
    bottom: 0;
}
.image-slider .swiper-pagination-bullet{
    width: 10px;
    height: 10px;
    font-size: 14px;
    line-height: 20px;
    background-color: #F467B2;
} 
.swiper-pagination-bullet-active{
    transition: all 0.5s ease;
    transform: scale(1.3);
}
.img_slider{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 8.66666%;
}
.image_b{
    width: 185.71px;
    height: 110.36px;
}
/* кінець BUSINESS PARTNERS */
/*Початок футера*/
.footer_block{
    margin-inline: 14.0625%;
    padding-top: 2.27272%;
    padding-bottom: 2.95454%;
    display: flex;
    justify-content: space-between;
}
.footer_blocks{
    width: 891px;
}
.footer_topics{
    font-family: 'Metropolis';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #010101;
}
.all_{
    width: 180px;
    height: 192px;
}
.position_blocks{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.info_footer{
    margin-top: 20px;
    height: 110px;
    font-family: 'Metropolis';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #676767;
}
.footer_icons{
    margin-top: 16px;
}
.footer_call_blocks{
    width: 25%;
    text-align: end;
}
#call{
    font-family: 'Metropolis';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 1px;
    color: #010101;
}
.position_footer_icons{
    margin-right: 20%;
}
.footer_icons{
    display: flex;
    justify-content: space-between;
}
._icons{
    transition: all 0.5s ease;
}
._icons:hover{
    transition: all 0.5s ease;
    transform: scale(1.3);
}
.info_footer{
    display: flex;
    flex-direction: column;
}
.footer_links:not(:last-child){
    margin-bottom: 10px;
}
/* Кінець футора */