*::placeholder{
    position: absolute;
    top:0;
    left:0;
    }
    
    h1{
        padding-top: 20px;
        font-size: 40px;
        margin-bottom: 40px;
    }
    .moje_div{
        border:1px solid black;
    }
    .conteiner{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap:25px;
        height:100vh;
        
        
    }
    .sub_btn{
        background-color:#2B2B2B;
        color:white;
        width:220px;
        height:38px;
        border-radius:40px;
        cursor: pointer;
        font-size: 16px;
        border:2px solid #2B2B2B;
        transition: all 0.4s ease;
    }
    .sub_btn:hover{
        background-color:transparent;
        color:#2B2B2B;
        font-weight: bold;
        
    }
    .use_inp,.pass_inp,.email_inp,.confirm_pass_inp{
        
        width:240px;
        padding-top:25px;
        border-bottom:1px solid black;
        font-size: 18px;
        
    }
    .is-invalid{
        
        
        border-bottom:1px solid red;
        transition: all 0.5s ease;
        
        
        
    }
    .but_n_div{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin:28px 25px 3px 25px;
        gap:25px;
        font-size: 18px;
    }
    
    
    .mail_block,.confirm_pass_block,.pass_block{
        margin-top:10%;
    }
    .content_conteiner{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding:12px;   
        background-color: #fff;
        z-index: 3;
        border-radius: 15px;
        width:360px;
        height:auto;
    }
    .left,.right{
        display: flex;
        align-items: center;
        justify-content: center;
        height:inherit;
        width:50%;
        
        transition: all 0.4s ease;
      }
      .right{
        /* border-left:1px solid black; */
        
        border-radius: 0 12px 12px 0;
      }
      .left{
        border-radius:  12px 0 0 12px ;
      }
      .left:hover{
        background-color: #9e9b8def;
        /* border:1px solid black; */
        
      }
      .right:hover{
        background-color:  #9e9b8def;
        /* border:1px solid black; */
      }

    .dubl_btn{
        display: flex;
        justify-content: space-around;
        align-items:center;
        /* border:1px solid black; */
        /* padding: 9px 18px; */
        border-radius: 12px;
        width:150px;
        height:30px;
        text-align: center;
        cursor: pointer;
        background-color: #63606034;    
    }
    .style_non{
        text-decoration: none;
        color:black;
    }
    
      
      
        
        
      
    
    